services:
  enset-discovery-service:
    build: ./discovery-service #Search for Dockerfile in this directory to build image
    container_name: enset-discovery-service #To avoid random container names
    ports:
      - '8761:8761' #Map host port 8761 to container port 8761
    expose:
      - '8761' #Expose port 8761 to other services in the same Docker network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"] #Health check command
      interval: 10s #Time between health checks
      retries: 4 #Number of retries before marking as unhealthy
      start_period: 40s
  enset-config-server:
    build: ./config-server
    container_name: enset-config-server
    ports:
      - '9999:9999'
    expose:
      - '9999'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9999/actuator/health" ] #Health check command
      interval: 10s #Time between health checks
      retries: 4 #Number of retries before marking as unhealthy
      start_period: 40s
    volumes:
      - ./config-repo:/config-repo
    environment:
      - DISCOVERY_SERVICE_URL=http://enset-discovery-service:8761/eureka
      - SPRING_CLOUD_CONFIG_SERVER_GIT_URI=file:///config-repo
    depends_on:
      enset-discovery-service:
        condition: service_healthy
  enset-inventory-service:
    build: ./inventory-service
    container_name: enset-inventory-service
    ports:
      - '8082:8082'
    expose:
      - '8082'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8082/actuator/health" ] #Health check command
      interval: 10s #Time between health checks
      retries: 4 #Number of retries before marking as unhealthy
      start_period: 60s
    environment:
      - DISCOVERY_SERVICE_URL=http://enset-discovery-service:8761/eureka
      - CONFIG_SERVER_URL=http://enset-config-server:9999
    depends_on:
        enset-config-server:
            condition: service_healthy
  enset-customer-service:
    build: ./customer-service
    container_name: enset-customer-service
    ports:
      - '8081:8081'
    expose:
      - '8081'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ] #Health check command
      interval: 10s #Time between health checks
      retries: 4 #Number of retries before marking as unhealthy
      start_period: 60s
    environment:
      - DISCOVERY_SERVICE_URL=http://enset-discovery-service:8761/eureka
      - CONFIG_SERVER_URL=http://enset-config-server:9999
    depends_on:
        enset-config-server:
            condition: service_healthy
  enset-billing-service:
    build: ./billing-service
    container_name: enset-billing-service
    ports:
      - '8083:8083'
    expose:
      - '8083'
    environment:
      - DISCOVERY_SERVICE_URL=http://enset-discovery-service:8761/eureka
      - CONFIG_SERVER_URL=http://enset-config-server:9999
    depends_on:
      enset-customer-service:
        condition: service_healthy
      enset-inventory-service:
        condition: service_healthy
  enset-gateway-service:
    build: ./api-gateway-service
    container_name: enset-gateway-service
    ports:
      - '8888:8888'
    expose:
      - '8888'
    environment:
      - DISCOVERY_SERVICE_URL=http://enset-discovery-service:8761/eureka
      - CONFIG_SERVER_URL=http://enset-config-server:9999
    depends_on:
      enset-config-server:
        condition: service_healthy
  angular-frontend-facturation-app:
    build: ./frontend-facturation-app
    container_name: angular-frontend-facturation-app
    ports:
      - '80:80'
    expose:
      - '80'