services:
  enset-discovery-service:
    build: ./discovery-service #Search for Dockerfile in this directory to build image
    container_name: enset-discovery-service #To avoid random container names
    ports:
      - '8761:8761' #Map host port 8761 to container port 8761
    expose:
      - '8761' #Expose port 8761 to other services in the same Docker network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"] #Health check command
      interval: 10s #Time between health checks
      retries: 4 #Number of retries before marking as unhealthy
      start_period: 40s
  enset-config-server:
    build: ./config-server
    container_name: enset-config-server
    ports:
      - '9999:9999'
    expose:
      - '9999'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9999/actuator/health" ] #Health check command
      interval: 10s #Time between health checks
      retries: 4 #Number of retries before marking as unhealthy
      start_period: 40s
    volumes:
      - ./config-repo:/config-repo
    environment:
      - DISCOVERY_SERVICE_URL=http://enset-discovery-service:8761/eureka
      - SPRING_CLOUD_CONFIG_SERVER_GIT_URI=file:///config-repo
    depends_on:
      enset-discovery-service:
        condition: service_healthy
  postgres-inventory-service:
    image: postgres:16-alpine
    container_name: postgres-inventory-service
    volumes:
      - postgres_inventory_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: monaim
      POSTGRES_PASSWORD: 1234
    ports:
      - '5433:5432'
    expose:
      - '5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U monaim"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    restart: unless-stopped
  enset-inventory-service:
    build: ./inventory-service
    container_name: enset-inventory-service
    ports:
      - '8082:8082'
    expose:
      - '8082'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8082/actuator/health" ] #Health check command
      interval: 10s #Time between health checks
      retries: 4 #Number of retries before marking as unhealthy
      start_period: 60s
    environment:
      - DISCOVERY_SERVICE_URL=http://enset-discovery-service:8761/eureka
      - CONFIG_SERVER_URL=http://enset-config-server:9999
      - KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/tp-facturation-realm
      - KEYCLOAK_SET_URI=http://keycloak:8080/realms/tp-facturation-realm/protocol/openid-connect/certs
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-inventory-service:5432/product_db
      - SPRING_DATASOURCE_USERNAME=monaim
      - SPRING_DATASOURCE_PASSWORD=1234
    depends_on:
        enset-config-server:
            condition: service_healthy
        postgres-inventory-service:
          condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"
  postgres-customer-service:
    image: postgres:16-alpine
    container_name: postgres-customer-service
    volumes:
      - postgres_customer_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: customer_db
      POSTGRES_USER: monaim
      POSTGRES_PASSWORD: 1234
    ports:
      - '5434:5432'
    expose:
      - '5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h localhost -U monaim" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    restart: unless-stopped
  enset-customer-service:
    build: ./customer-service
    container_name: enset-customer-service
    ports:
      - '8081:8081'
    expose:
      - '8081'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ] #Health check command
      interval: 10s #Time between health checks
      retries: 4 #Number of retries before marking as unhealthy
      start_period: 60s
    environment:
      - DISCOVERY_SERVICE_URL=http://enset-discovery-service:8761/eureka
      - CONFIG_SERVER_URL=http://enset-config-server:9999
      - KEYCLOAK_SET_URI=http://keycloak:8080/realms/tp-facturation-realm/protocol/openid-connect/certs
      - KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/tp-facturation-realm
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-customer-service:5432/customer_db
      - SPRING_DATASOURCE_USERNAME=monaim
      - SPRING_DATASOURCE_PASSWORD=1234
    depends_on:
        enset-config-server:
            condition: service_healthy
        postgres-customer-service:
          condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"
  postgres-billing-service:
    image: postgres:16-alpine
    container_name: postgres-billing-service
    volumes:
      - postgres_billing_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: billing_db
      POSTGRES_USER: monaim
      POSTGRES_PASSWORD: 1234
    ports:
      - '5435:5432'
    expose:
      - '5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h localhost -U monaim" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    restart: unless-stopped
  enset-billing-service:
    build: ./billing-service
    container_name: enset-billing-service
    ports:
      - '8083:8083'
    expose:
      - '8083'
    environment:
      - DISCOVERY_SERVICE_URL=http://enset-discovery-service:8761/eureka
      - CONFIG_SERVER_URL=http://enset-config-server:9999
      - KEYCLOAK_SET_URI=http://keycloak:8080/realms/tp-facturation-realm/protocol/openid-connect/certs
      - KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/tp-facturation-realm
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-billing-service:5432/billing_db
      - SPRING_DATASOURCE_USERNAME=monaim
      - SPRING_DATASOURCE_PASSWORD=1234
    depends_on:
      enset-customer-service:
        condition: service_healthy
      enset-inventory-service:
        condition: service_healthy
      postgres-billing-service:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"
  enset-gateway-service:
    build: ./api-gateway-service
    container_name: enset-gateway-service
    ports:
      - '8888:8888'
    expose:
      - '8888'
    environment:
      - DISCOVERY_SERVICE_URL=http://enset-discovery-service:8761/eureka
      - CONFIG_SERVER_URL=http://enset-config-server:9999
      - KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/tp-facturation-realm
      - KEYCLOAK_JWK_URI=http://keycloak:8080/realms/tp-facturation-realm/protocol/openid-connect/certs
    depends_on:
      enset-config-server:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"
  angular-frontend-facturation-app:
    build: ./frontend-facturation-app
    container_name: angular-frontend-facturation-app
    ports:
      - '80:80'
    expose:
      - '80'
  postgres-service:
    image: postgres:16-alpine
    container_name: postgres-service
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: k1234
    ports:
      - '5436:5432'
    expose:
      - '5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U keycloak"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    restart: unless-stopped
  pgadmin4:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: always
    ports:
      - "7777:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: monaim@gmail.com
      PGADMIN_DEFAULT_PASSWORD: post-monaim
    volumes:
      - pgadmin_data:/var/lib/pgadmin
  keycloak:
    image: quay.io/keycloak/keycloak:26.1.2
    container_name: keycloak
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-service:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: k1234
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: 'true'
      KC_HTTP_ENABLED: 'true'
    command:
      - start-dev
    restart: always
    ports:
      - '8080:8080'
    expose:
      - '8080'
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<>/dev/tcp/localhost/8080 && echo -e 'GET /health/ready HTTP/1.1\r\nHost: localhost\r\nConnection: close\r\n\r\n' >&3 && cat <&3 | grep -q '200 OK'" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s
    depends_on:
      postgres-service:
        condition: service_healthy
volumes:
  postgres_data:
  pgadmin_data:
  postgres_inventory_data:
  postgres_customer_data:
  postgres_billing_data:
